VITE_API_KEY=VITE_API_KEY-here
VITE_APP_ID=VITE_APP_ID-here
VITE_SESSION_NAME="postgres"
VITE_SESSION_PASSWORD="postgres"
VITE_GOOGLE_API_KEY=Google-API-KEY-here
UPLOADTHING_TOKEN=UploadThing-TOKEN-here
